* @RomainBrault

# Don't automatically assign reviewers on PRs that only modify these files.
# As they have no owner listed, these files are not owned by anyone.
# These are files that are generated or updated automatically.
uv.lock
docs/requirements.txt
.github/workflows/constraints.txt
