# General
.secrets.*

# Python
.python-version
## Cache
__pycache__
*.pyc
## Logs
*.log
## Editors
.idea
## Build
site
dist
build
_build
docs_build
*.egg-info
## Localization
*.mo
## Tests
.pytest_cache
.hypothesis
## Coverage
.coverage
.coverage.*
profile.*
coverage.*
htmlcov
## Integration
.nox
.tox

## We do not commit lockfile for Python
*.lock

# Node
node_modules

# Misc
*.old*
